@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&family=Roboto+Condensed:wght@300;400&display=swap");
.firearm-form {
  font-family: "Oswald", sans-serif;
}
.firearm-form input,
.firearm-form textarea,
.firearm-form select {
  margin: 10px 0;
}
.add-firearm-form-container {
  width: 100%;
}
.firearm-form {
  width: 80% !important;
  margin: 1rem auto;
  text-align: center;
}

label span {
  color: red;
  font-size: 1.2rem;
}

textarea {
  resize: none !important;
}
